body {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tic {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  height: 310px;
}
.row {
  display: flex;
}
.cell {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.game-message {
  text-align: center;
  font-size: 40px;
}
.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.reset-button:hover {
  background-color: #555;
}
